<div class="row">
    <h1>Actions</h1>

    <table>
        <tr>

        <th>Type</th>
        <th>Price</th>
        <th>When</th>

        </tr>
        {{#each actions}}
        <tr>
            <td>{{data}}</td>
            <td>{{totalCost}}</td>
            <td>{{timerecording}}</td>
        </tr>
        {{/each}}
    </table>
</div>